body {

    .wrapper {
        height: 100vh;
        overflow-x: hidden;
        perspective: 10px;

        header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            transform-style: preserve-3d;
            z-index: -1;

            img {

                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
            }

            div {
                div {
                    // div {}

                    div {
                        ul {
                            li {
                                a {
                                    color: black;

                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

section {
    font-size: 2rem;
    padding: 2rem;

}