body {

    .wrapper {
        height: 100vh;
        overflow-x: hidden;
        perspective: 10px;

        header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            transform-style: preserve-3d;
            z-index: -1;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                object-position: 50% 50%;
            }

            div {
                div {
                    div {
                        ul {
                            li {
                                a {
                                    color: black;

                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .background {
        background-color: #ececec;

        .top-note {
            .note {
                text-align: justify;
                text-justify: inter-word;
            }
        }

        .sections-category {
            background-color: #ececec;
        }

    }

    .capabilities-content {
        .reasons {
            text-align: justify;
            text-justify: inter-word;

            div {
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}